<mat-table [dataSource]="auditLogEntries" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.Id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <mat-header-cell *matHeaderCellDef> IP Address </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.IpAddress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entityFullName">
    <mat-header-cell *matHeaderCellDef> Entity Full Name </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.EntityFullName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entityShortName">
    <mat-header-cell *matHeaderCellDef> Entity Short Name </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.EntityShortName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entityId">
    <mat-header-cell *matHeaderCellDef> Entity Id </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.EntityId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.Timestamp}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entyTypeId">
    <mat-header-cell *matHeaderCellDef> Entry Type Id </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.EntyTypeId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actionTypeId">
    <mat-header-cell *matHeaderCellDef> Action Type Id </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.ActionTypeId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="oldValue">
    <mat-header-cell *matHeaderCellDef>Old Value </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.OldValue}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="newValue">
    <mat-header-cell *matHeaderCellDef> New Value </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.NewValue}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="propertyName">
    <mat-header-cell *matHeaderCellDef> Property Name </mat-header-cell>
    <mat-cell *matCellDef="let auditLogEntry"> {{auditLogEntry.PropertyName}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
