<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <label>
        First Name:
        <input [(ngModel)]="player.firstName" placeholder="first Name" />
      </label>
    </div>
    <div class="row">
      <label>
        Last Name:
        <input [(ngModel)]="player.lastName" placeholder="Last Name" />
      </label>
    </div>
    <div class="row">
      <label>
        Date of Birth:
      </label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="player.dateOfBirth" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
  <div class="col-lg-6">
    <mat-form-field>
      <mat-select placeholder="Team" [(ngModel)]="selectedTeam" name="team">
        <mat-option *ngFor="let team of teams" [value]="team">
          {{team.name}}
        </mat-option>
      </mat-select>
     </mat-form-field>
  </div>
</div>
<div class="row">
  <button (click)="onSave()">Save</button>
</div>
