.mat-column-select {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 70px !important;
  width: 70px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.table {
  word-break: break-word;
}

.mat-fab {
  position: relative;
  left: 97%;
  top: 30px;
}

.fab-container {
  margin-top: 45px;
}
