<div class="fab-container">

  <mat-table [dataSource]="dataSourceAuditEntities" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let auditEntityConfiguration"> {{auditEntityConfiguration.Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
      <mat-cell *matCellDef="let auditEntityConfiguration"> {{auditEntityConfiguration.FullName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shortName">
      <mat-header-cell *matHeaderCellDef> Short Name </mat-header-cell>
      <mat-cell *matCellDef="let auditEntityConfiguration"> {{auditEntityConfiguration.ShortName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="properties">
      <mat-header-cell *matHeaderCellDef> Properties</mat-header-cell>
      <mat-cell *matCellDef="let auditEntityConfiguration"> {{auditEntityConfiguration.Properties.length}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditable">
      <mat-header-cell *matHeaderCellDef> Auditables</mat-header-cell>
      <mat-cell *matCellDef="let auditEntityConfiguration"> {{auditEntityConfiguration.Auditable}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsDataSourceAuditEntities"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsDataSourceAuditEntities;" (click)="onSelect(row)"></mat-row>

  </mat-table>
</div>
